table.EmailLayoutFooter._EmailLayoutFooter
  tr
    td
      table
        tr
          td._EmailLayoutInner
            table._EmailLayoutFooter__container._EmailLayoutContainer(align="center")
              tr
                td
                  table._u-TextAlign-center
                    tr
                      td._EmailLayoutFooter__row._EmailLayoutFooter__row--socials
                        ._EmailSocialIcons
                          ._EmailSocialIcons__item
                            center
                              a(href="https://vk.com/club22062158", title="Группа во Вконтакте", target="_blank")
                                img(width="39", height="39", src="img/vkontakte_circle.png", alt="Vk")
                          ._EmailSocialIcons__item
                            center
                              a(href="https://www.facebook.com/Wearethelocals", title="Группа в Facebook", target="_blank")
                                img(width="39", height="39", src="img/facebook_circle.png", alt="Fb")
                          ._EmailSocialIcons__item
                            center
                              a(href="https://telegram.me/TheLocals", title="Группа в Telegram", target="_blank")
                                img(width="39", height="39", src="img/telegram_circle.png", alt="Tg")
                        ._EmailLayoutFooter__appStores
                          ._EmailLayoutFooter__appStoresItem._EmailLayoutFooter__appStoresItem--apple-store
                            a(href="https://redirect.appmetrica.yandex.com/serve/1177468692657635723", title="Скачать в App Store", target="_blank")
                              img(width="150", src="img/store_appstore.png", alt="Скачать в App Store")
                          ._EmailLayoutFooter__appStoresItem._EmailLayoutFooter__appStoresItem--google-play
                            a(href="https://redirect.appmetrica.yandex.com/serve/457397181893055874", title="Скачать в Google Play", target="_blank")
                              img(width="140", src="img/store_google_play.png", alt="Скачать в Google Play")
                    tr
                      td._EmailLayoutFooter__row._EmailLayoutFooter__row--help
                        ._EmailLayoutFooter__text._u-FontFamily-base Пишите на&nbsp;<a class="EmailLink _EmailLink _EmailLink--green" href="mailto:help@thelocals.ru" title="help@thelocals.ru">help@thelocals.ru</a> или читайте наш <a class="EmailLink _EmailLink _EmailLink--green" href="#" title="FAQ" target="_blank">FAQ</a>.
                    tr
                      td._EmailLayoutFooter__row._EmailLayoutFooter__row--subscription
                        ._EmailLayoutFooter__text._EmailLayoutFooter__text--subscription._u-FontFamily-base Вы&nbsp;получили это письмо, потому что подписались на&nbsp;рассылку. <a href="#" title="Настройка уведомлений" target="_blank">Настройка уведомлений</a>.</div>