table.EmailLayoutHeader._EmailLayoutHeader
  tr
    td
      table
        tr
          td._EmailLayoutInner
            table._EmailLayoutHeader__container._EmailLayoutContainer(align="center")
              tr
                td
                  table._EmailLayoutHeader__cols
                    tr
                      td._EmailLayoutHeader__col._EmailLayoutHeader__col--left
                        a(href="#", title="Локалс", target="_blank")
                          img._EmailLayoutHeader__logoImg(width="130", src="img/logo_black.png", alt="")
                      td._EmailLayoutHeader__col._EmailLayoutHeader__col--right
                        .EmailLayoutHeader__desc._EmailLayoutHeader__desc._u-FontFamily-base Аренда квартир без&nbsp;комиссии