block head
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title TheLocals | Emails

    link(rel='stylesheet', href='css/inline.css')
    <!-- inject-style src="./dist/css/embedded.css" -->