doctype html

html(dir="ltr")
  include ./head.pug

  body(dir="ltr")

    table.EmailLayout._EmailLayout
      tr
        td
          include ./header.pug
          include ./content.pug
          include ./footer.pug