extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock._EmailBlock--mb80
      .EmailH1._EmailH1 Привет, это Локалс
      ._EmailText._EmailText--mb15._u-TextAlign-left Стремительное лето подошло к&nbsp;концу, народ массово возвращается в&nbsp;столицу и&nbsp;на&nbsp;рынке аренды наблюдается традиционный сентябрьский ажиотаж. <a class="EmailLink _EmailLink _EmailLink--no-underline _EmailLink--green" href="#" title="Мы уже рассказывали в нашем блоге" target="_blank">Мы&nbsp;уже рассказывали в&nbsp;нашем блоге</a>, почему так происходит, и&nbsp;как извлечь максимальную выгоду из&nbsp;ситуации. Помните&nbsp;&mdash; зима близко!И&nbsp;проводить ее&nbsp;лучше в&nbsp;новой классной квартире
      ._EmailText._EmailText--mb20._u-TextAlign-left Мы&nbsp;сами времени даром не&nbsp;теряли и&nbsp;спешим поделиться всем хорошим, что успели сделать с&nbsp;нашим сервисом к&nbsp;сентябрю.
      ._EmailText._EmailText--mb20._u-TextAlign-left
        b._u-FontWeight-bold В&nbsp;эфире сентябрьский выпуск. Погнали!
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--autumnMan
        img(width="168", height="195", src="img/desc/autumn_man.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Обновленный дизайн главной страницы
        ._EmailText Осенью хочется уюта, тепла и&nbsp;побольше красоты вокруг. Мы&nbsp;обновили дизайн главной страницы и&nbsp;теперь заходить на&nbsp;Локалс стало еще приятнее. Надеемся, вам нравится.
        ._EmailDescBlock__cta
          a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--green._EmailButton--fs15._EmailButton--ph25._u-TextAlign-center._EmailDescBlock__ctaButton(href="#", title="Посмотреть", target="_blank") Посмотреть
    .EmailHr._EmailHr._u-MaxWidth-620
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--manAndDumbbells
        img(width="84", height="159", src="img/desc/man_and_dumbbells.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Улучшенный алгоритм поиска объявлений
        ._EmailText Помните нашего умного поискового робота? Он&nbsp;собирает квартиры без комиссии по&nbsp;всем базам аренды жилья в&nbsp;вашем городе и&nbsp;размещает их&nbsp;на&nbsp;Локалс с&nbsp;иконкой замочка. Теперь он&nbsp;научился находить самое первое объявление от&nbsp;собственника, а&nbsp;дубли с&nbsp;разными номерами агентств игнорирует. Итог&nbsp;&mdash; более тщательная модерация и&nbsp;чистая выдача.
    .EmailHr._EmailHr._u-MaxWidth-620
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--manWithBook
        img(width="57", height="150", src="img/desc/1.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Push-уведомления о&nbsp;новых объектах
        ._EmailText Чтобы вы&nbsp;точно не&nbsp;пропустили квартиру мечты, мы&nbsp;сделали push-уведомления в&nbsp;нашем iOS-приложении. Настройте фильтр и&nbsp;узнавайте о&nbsp;новых подходящих предложениях сразу&nbsp;же, как они появляются в&nbsp;базе. В&nbsp;последней версии приложения push-уведомления включены по&nbsp;умолчанию. Обновитесь или загрузите <a class="EmailLink _EmailLink _EmailLink--no-underline _EmailLink--green" href="#" title="приложение по ссылке">приложение по&nbsp;ссылке</a>. Владельцев Android тоже скоро порадуем.
    .EmailHr._EmailHr._u-MaxWidth-620
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--inspection
        img(width="62", height="161", src="img/desc/inspection.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Эффективный просмотр квартиры
        ._EmailText Рассказали, как правильно организовать просмотр и&nbsp;на&nbsp;что обратить внимание, чтобы потом ни&nbsp;о&nbsp;чем не&nbsp;жалеть. Весь ценный опыт поколений арендаторов &mdash;&nbsp;в&nbsp;специальном разделе нашего гида по&nbsp;аренде:
        ._EmailDescBlock__cta
          a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--green._EmailButton--fs15._EmailButton--ph25._u-TextAlign-center._EmailDescBlock__ctaButton(href="#", title="Перейти", target="_blank") Перейти
    .EmailHr._EmailHr._u-MaxWidth-620
    .EmailBlock._EmailBlock._EmailBlock--maxw520
      ._u-MaxWidth-480
        .EmailH2._EmailH2._EmailH2--normal Квартира месяца: дизайнерская трешка с&nbsp;панорамным остеклением
        ._EmailText._EmailText--mb20._u-TextAlign-left Очередной выпуск рубрики &laquo;Квартира месяца&raquo;.
      table.EmailImageFrame._EmailImageFrame
        tr
          td._EmailImageFrame__content
            img(src="img/test_image.jpg", alt="")
      ._u-MaxWidth-480
        ._EmailText._EmailText--mb20._u-TextAlign-left Просторная и&nbsp;светлая трешка на&nbsp;Соколе с&nbsp;панорамным остеклением. Стильный монохромный интерьер, украшенный предметами искусства, простор, роскошь и&nbsp;два санузла :)
        ._EmailBlock__cta._EmailBlock__cta--mt35
          ._u-Display-inlineBlock._u-Width-160
            a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--block._EmailButton--green._EmailButton--fs15._EmailButton--ph25._u-TextAlign-center(href="#", title="Подробнее", target="_blank") Подробнее
    .EmailBlock._EmailBlock
      ._EmailText._u-FontStyle-italic._u-TextAlign-left._u-fs15 Хорошего дня!<br /> Команда Локалс.