extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock
      ._EmailCircleIcon._EmailCircleIcon--hey
        img(width="150", height="150", src="img/icons/hey.png", alt="")
      .EmailH1._EmailH1 Объявление<br /> на&nbsp;рассмотрении
      ._EmailText._EmailText--mb20 Если вы&nbsp;всё сделали правильно, через несколько часов вам придёт оповещение о&nbsp;публикации.