extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock._EmailBlock--mb80
      .EmailH1._EmailH1 Привет, это Локалс
      ._EmailText._EmailText--mb20 Ноябрь неожиданно выдался настолько классным, что от&nbsp;удивления мы&nbsp;пропустили очередной выпуск рассылки. Исправляемся! В&nbsp;новостях декабря&nbsp;&mdash; важное обновление, пара полезных советов и&nbsp;немного юмора из&nbsp;мира аренды.
      ._EmailText._EmailText--mb20
        b._u-FontWeight-bold Поехали!
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--girlWithMobile
        img(width="99", height="184", src="img/monthly/december/desc/girl_with_mobile.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Улучшенный алгоритм поиска
        ._EmailText Улучшили систему внутренней фильтрации для личных помощников. Теперь релевантных вашему запросу объявлений стало больше и&nbsp;находятся они еще быстрее. Профит!
    .EmailHr._EmailHr._u-MaxWidth-620
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--christmasTree
        img(width="97", height="175", src="img/monthly/december/desc/christmas_tree.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Встречайте Новый год в&nbsp;новой квартире
        ._EmailText Если вы&nbsp;планируете переезжать, лучше сделать это до&nbsp;конца года. В&nbsp;декабре <a class="EmailLink _EmailLink _EmailLink--no-underline _EmailLink--green" href="https://thelocals.ru/blog/19-zima-blizko-kogda-snimat-i-kogda-sdavat-zhilie" title="спрос традиционно падает, а выбор расширяется">спрос традиционно падает, а&nbsp;выбор расширяется</a>. Пока другие заняты предновогодней суетой или пакуют чемоданы в&nbsp;отпуск, вы&nbsp;можете снять отличную квартиру.
        ._EmailDescBlock__cta
          a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--green._EmailButton--fs15._EmailButton--ph40._u-TextAlign-center._EmailDescBlock__ctaButton(href="http://bit.ly/2E3Y8ms", title="Выберите тариф", target="_blank") Выберите тариф
    .EmailHr._EmailHr._u-MaxWidth-620
    ._EmailBlock.EmailDescBlock._EmailDescBlock._u-TextAlign-left
      .EmailDescBlock__image._EmailDescBlock__image._EmailDescBlock__image--girlSkating
        img(width="143", height="185", src="img/monthly/december/desc/girl_skating.png", alt="")
      .EmailDescBlock__content._EmailDescBlock__content
        .EmailH2._EmailH2._EmailH2--normal._EmailDescBlock__title._EmailDescBlock__title--normal Гид по&nbsp;аренде: поиск
        ._EmailText Мы&nbsp;изучили самые популярные и&nbsp;удобные в&nbsp;использовании площадки по&nbsp;аренде квартир и&nbsp;подробно рассказали о&nbsp;плюсах и&nbsp;минусах каждой. Также написали о&nbsp;том, как отличать объявления приманки и&nbsp;избежать мошенников&nbsp;&mdash; в&nbsp;преддверии праздников последние традиционно активизируются.
        ._EmailDescBlock__cta
          a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--green._EmailButton--fs15._EmailButton--ph40._u-TextAlign-center._EmailDescBlock__ctaButton(href="http://bit.ly/2KCPOu8", title="Читать", target="_blank") Читать
    .EmailHr._EmailHr._u-MaxWidth-620
    .EmailBlock._EmailBlock._EmailBlock--mb80
      .EmailH2._EmailH2._EmailH2--normal Лучший личный помощник
      .EmailLeadText._EmailText._EmailText--lead._EmailText--mb20 Мы&nbsp;снова провели внутреннюю оценку эффективности личных помощников на&nbsp;основе ваших отзывов. В&nbsp;этом месяце лучшим стал Евгений Чепур.
      .EmailBestStaff--december._EmailBestStaff._EmailBestStaff--mb24._EmailBestStaff--center._EmailBestStaff--december
        img(width="255", height="196", src="img/monthly/december/best_staff.png", alt="")
      ._EmailText._EmailText--mb25._u-TextAlign-left За&nbsp;полтора года работы личным помощником Евгений нашел более сотни квартир для клиентов. С&nbsp;некоторыми он&nbsp;успел подружиться и&nbsp;продолжает общаться даже после того, как они переехали. Больше всего Жене запомнился случай, когда клиент попросил поселить его так, чтобы у&nbsp;соседей часто проводились вечеринки или кто-нибудь играл на&nbsp;музыкальных инструментах. Необычное пожелание арендатор объяснил тем, что просто... не&nbsp;любит тишину! Подходящий вариант нашелся достаточно быстро :)
      ._EmailText._EmailText--mb20._u-TextAlign-left Хотите, чтобы Евгений стал вашим личным помощником? Заполните заявку и&nbsp;укажите его имя в&nbsp;комментарии.
      ._EmailBlock__cta._EmailBlock__cta--mt35
        a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--green._EmailButton--fs15._EmailButton--ph40._u-TextAlign-center(href="http://bit.ly/2A0xtDx", title="Заполнить заявку", target="_blank") Заполнить заявку
    .EmailHr._EmailHr._u-MaxWidth-620
    .EmailBlock._EmailBlock._EmailBlock--maxw520
      ._u-MaxWidth-480
        .EmailH2._EmailH2._EmailH2--normal Квартира месяца: двушка в&nbsp;&laquo;сталинке&raquo; в&nbsp;двух минутах от&nbsp;Красной площади
      ._EmailApartmentMonth
        img(src="img/monthly/december/apartment_month.png", alt="")
      ._u-MaxWidth-480
        ._EmailText._EmailText--mb20._u-TextAlign-left Для тех, кто хочет жить в&nbsp;сердце столицы. Фасадный сталинский дом в&nbsp;самом начале Тверской. Теплая и&nbsp;светлая квартира с&nbsp;дизайнерским ремонтом, прекрасно оборудованной кухней и&nbsp;просторной ванной комнатой. ГУМ, ЦУМ, Кремль, Большой Театр и&nbsp;шесть станций метро в&nbsp;пешей доступности.
        ._EmailBlock__cta._EmailBlock__cta--mt35
          a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--green._EmailButton--fs15._EmailButton--ph40._u-TextAlign-center(href="http://bit.ly/2KEEVrY", title="Подробнее", target="_blank") Подробнее
    .EmailHr._EmailHr._u-MaxWidth-620
    .EmailBlock._EmailBlock._EmailBlock--mb40
      .EmailH2._EmailH2._EmailH2--normal._u-MaxWidth-370._u-Block-center Посмеяться: забавные фото с&nbsp;арендных сайтов
      .EmailLeadText._EmailText._EmailText--lead._EmailText--mb20 Личные помощники ежедневно просматривают сотни фотографий квартир. Иногда среди них попадаются настоящие жемчужины&nbsp;&mdash; смешные и&nbsp;загадочные. Например, такие:
    .EmailBlock._EmailBlock._EmailBlock--maxw620._EmailBlock--mb20
      ._EmailBlock__image._EmailBlock__image--manLying
        img(src="img/monthly/december/man_lying.png", alt="")
    .EmailBlock._EmailBlock._EmailBlock--mb80
      ._EmailCollage
        ._EmailCollage__item
          img(src="img/monthly/december/collage/1.jpg", alt="")
        ._EmailCollage__item
          img(src="img/monthly/december/collage/2.jpg", alt="")
        ._EmailCollage__item
          img(src="img/monthly/december/collage/3.jpg", alt="")
        ._EmailCollage__item
          img(src="img/monthly/december/collage/4.jpg", alt="")
        ._EmailCollage__item
          img(src="img/monthly/december/collage/5.jpg", alt="")
      ._EmailText._EmailText--mb25._u-TextAlign-left Поздравляем с&nbsp;наступающим Новым годом! Желаем вам встретить этот праздник в&nbsp;уютной, красивой и&nbsp;теплой квартире. Спасибо, что были с&nbsp;нами :) Увидимся в&nbsp;2019&nbsp;году!
    .EmailBlock._EmailBlock
      ._EmailText._u-FontStyle-italic._u-TextAlign-left._u-fs15 Хорошего дня!<br /> Команда Локалс.