extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock._EmailBlock--mb80
      ._EmailCircleIcon._EmailCircleIcon--yes
        img(width="127", height="128", src="img/icons/yes.png", alt="")
      .EmailH1._EmailH1 Ваш аккаунт<br /> разблокирован