extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock._EmailBlock--mb80
      ._EmailCircleIcon._EmailCircleIcon--no
        img(width="129", height="120", src="img/icons/no.png", alt="")
      .EmailH1._EmailH1 Ваш аккаунт<br /> заблокирован