extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock
      ._EmailIcon._EmailIcon--smile
        img(src="img/smile.png", alt="")
      .EmailH1._EmailH1 Привет, это Локалс.
      ._EmailText._EmailText--mb15._u-TextAlign-left Недавно вы&nbsp;купили услугу &laquo;Личный помощник&raquo;. Мы&nbsp;надеемся, что с&nbsp;его помощью вы&nbsp;стали получать гораздо больше классных вариантов, а&nbsp;может быть даже уже нашли квартиру мечты.
      ._EmailText._EmailText--mb20._u-TextAlign-left Пожалуйста, поделитесь впечатлениями от&nbsp;работы с&nbsp;личным помощником. Просто нажмите эту кнопку и&nbsp;ответьте на&nbsp;несколько вопросов. Обещаем, это не&nbsp;займёт много времени!
      ._EmailRating._EmailRating--mt40._EmailRating--mb40
        center
          a._EmailRating__item._EmailRating__item--star(href="#", title="Всё плохо")
            span._EmailRating__itemImage
              img(src="img/rating/star.png", alt="1")
            span._EmailRating__itemLabel._EmailText Всё плохо
          a._EmailRating__item._EmailRating__item--star(href="#", title="Не очень")
            span._EmailRating__itemImage
              img(src="img/rating/star.png", alt="2")
            span._EmailRating__itemLabel._EmailText Не очень
          a._EmailRating__item._EmailRating__item--star(href="#", title="Ну, такое")
            span._EmailRating__itemImage
              img(src="img/rating/star.png", alt="3")
            span._EmailRating__itemLabel._EmailText Ну, такое
          a._EmailRating__item._EmailRating__item--star(href="#", title="Хорошо")
            span._EmailRating__itemImage
              img(src="img/rating/star.png", alt="4")
            span._EmailRating__itemLabel._EmailText Хорошо
          a._EmailRating__item._EmailRating__item--star(href="#", title="Супер")
            span._EmailRating__itemImage
              img(src="img/rating/star.png", alt="5")
            span._EmailRating__itemLabel._EmailText Супер
      ._EmailText._u-FontStyle-italic Спасибо, что помогаете делать наш сервис лучше.<br> Команда Локалс