extend ./layout/layout.pug

block content
  ._EmailLayoutInner
    .EmailBlock._EmailBlock._EmailBlock--mb80
      ._EmailCircleIcon._EmailCircleIcon--key
        img(width="162", height="150", src="img/icons/key.png", alt="")
      .EmailH1._EmailH1 Ваш пароль: password
      ._EmailBlock__cta
        ._u-Display-inlineBlock._u-Width-202
          a.EmailButton.EmailButton--green._EmailButton._EmailButton--lg._EmailButton--block._EmailButton--green(href="#", title="Поменять пароль", target="_blank") Поменять пароль