doctype html

html(dir="ltr")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title TheLocals | Emails

    style.
      html {
        font-size: 1em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      body {
        margin: 1em;
      }

      a {
        border-bottom: 1px solid;
        color: #0039ff;
        text-decoration: none;
      }

      a:hover {
        color: #ff2f43;
      }

      ul li,
      ol li {
        margin-top: .75em;
        margin-bottom: .75em;
      }

      hr {
        margin-top: 1em;
        margin-bottom: 1em;
        border: 0;
        border-top: 1px solid #eee;
      }

  body

    h1 Письма
    ul
      li
        a(href="email_ad_published.html", title="Объявление опубликовано") Объявление опубликовано
      li
        a(href="email_ad_publication_soon_over.html", title="Ваша квартира скоро исчезнет с сайта") Ваша квартира скоро исчезнет с сайта
      li
        a(href="email_ad_moderation.html", title="Объявление на рассмотрении") Объявление на рассмотрении
      li
        a(href="email_no_special_placement.html", title="Еще не нашли жильцов?") Еще не нашли жильцов?
      li
        a(href="email_want_buy_assistant.html", title="Оставили заявку на услугу Личный помощник") Оставили заявку на услугу &laquo;Личный помощник&raquo;
      li
        a(href="email_new_search_by_assistant.html", title="Оставили заявку на услугу Личный помощник") Новая заявка! Личный помощник
      li
        a(href="email_account_unlocked.html", title="Ваш аккаунт разблокирован") Ваш аккаунт разблокирован
      li
        a(href="email_account_blocked.html", title="Ваш аккаунт заблокирован") Ваш аккаунт заблокирован
      li
        a(href="email_password.html", title="Ваш пароль") Ваш пароль
      li
        a(href="email_welcome.html", title="Вы зарегистрировались") Вы зарегистрировались
      li
        a(href="email_no_subscription.html", title="Еще не нашли квартиру?") Еще не нашли квартиру?
      li
        a(href="email_buy_subscription.html", title="Вы купили подписку") Вы купили подписку
      li
        a(href="email_soon_subscription.html", title="Подписка заканчивается") Подписка заканчивается
      li
        a(href="email_ivan.html", title="Иван") Иван
      li
        a(href="email_estimate.html", title="Оценка") Оценка
      li
        a(href="email_estimate_stars.html", title="Оценка (звёздочки)") Оценка (звёздочки)
      li
        a(href="email_monthly_mailing.html", title="Ежемесячная рассылка") Ежемесячная рассылка