._EmailCircleIcon {
  margin-bottom: 22px;
  line-height: 0;

  img {
    width: 127px;
    height: 128px;
  }
}

._EmailCircleIcon--go {
  img {
    width: 191px;
  }
}

._EmailCircleIcon--mail,
._EmailCircleIcon--assistant,
._EmailCircleIcon--lock,
._EmailCircleIcon--clock,
._EmailCircleIcon--key,
._EmailCircleIcon--no,
._EmailCircleIcon--what,
._EmailCircleIcon--hey {
  img {
    height: 120px;
  }
}

._EmailCircleIcon--mail,
._EmailCircleIcon--assistant,
._EmailCircleIcon--lock,
._EmailCircleIcon--clock,
._EmailCircleIcon--key,
._EmailCircleIcon--no,
._EmailCircleIcon--what {
  img {
    width: 129px;
  }
}

._EmailCircleIcon--hey {
  img {
    width: 120px;
  }
}