._EmailDescBlock {
  margin-bottom: 60px;
}

._EmailDescBlock__image {
  width: 180px;
  margin: 0 20px 20px 0;
}

._EmailDescBlock__image--manWithBook {
  img {
    margin-left: 47px;
  }
}

._EmailDescBlock__image--twoPeople {
  img {
    margin-left: 28px;
  }
}

._EmailDescBlock__image--manWithMagnifier {
  img {
    margin-left: 40px;
  }
}

._EmailDescBlock__image--manAndDumbbells {
  img {
    margin-left: 28px;
  }
}

._EmailDescBlock__image--inspection {
  img {
    margin-left: 67px;
  }
}

._EmailDescBlock__image--manInCoatAndBook {
  img {
    margin-top: 25px;
    margin-left: 60px;
  }
}

._EmailDescBlock__image--manInCoatAndScooter {
  img {
    margin-top: 20px;
    margin-left: 30px;
  }
}

._EmailDescBlock__image--manInCoatAndBag {
  img {
    margin-left: 60px;
  }
}

._EmailDescBlock__image--girlWithMobile {
  vertical-align: middle !important;

  img {
    margin-left: 42px;
  }

  & ~ ._EmailDescBlock__content {
    vertical-align: middle !important;
  }
}

._EmailDescBlock__image--christmasTree {
  img {
    margin-top: 22px;
    margin-left: 34px;
  }
}

._EmailDescBlock__image--girlSkating {
  img {
    margin-top: 16px;
    margin-left: 16px;
  }
}

._EmailDescBlock__title {
  margin-bottom: 14px;
  color: var(--color-base);
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  font-family: var(--font-family-base);
}

._EmailDescBlock__title--normal {
  margin-bottom: 12px;
  line-height: 30px;
}

._EmailDescBlock__cta {
  margin-top: 20px;
}

._EmailDescBlock__ctaButton {
  margin: 15px 15px 0 0;
  vertical-align: top;
}