._EmailRating__item {
  width: 56px;
  height: 56px;
  margin: 6px;
  display: inline-block;
  border-radius: 50%;
  background-color: #f2f2f2;
  text-decoration: none;
  vertical-align: top;

  img {
    width: 36px;
    height: 36px;
    margin-top: 11px;
    display: inline-block;
    line-height: 0;
  }
}

._EmailRating__item--1 {
  img {
    width: 34px;
    height: 33px;
    margin-top: 10px;
  }
}

._EmailRating--mt40 {
  margin-top: 40px;
}

._EmailRating--mb40 {
  margin-bottom: 40px;
}