._EmailCircleIcon {
  margin-bottom: 22px;
  line-height: 0;

  img {
    width: 162px;
    height: 162px;
  }
}

._EmailCircleIcon--go {
  img {
    width: 242px;
  }
}

._EmailCircleIcon--mail,
._EmailCircleIcon--assistant,
._EmailCircleIcon--lock,
._EmailCircleIcon--clock,
._EmailCircleIcon--key,
._EmailCircleIcon--no,
._EmailCircleIcon--what {
  img {
    height: 150px;
  }
}

._EmailCircleIcon--assistant,
._EmailCircleIcon--clock,
._EmailCircleIcon--what {
  img {
    width: 161px;
  }
}

._EmailCircleIcon--hey {
  img {
    width: 150px;
    height: 150px;
  }
}