._EmailRating__item {
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}

._EmailRating__itemImage {
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 50%;
  background-color: #f2f2f2;
  vertical-align: top;

  img {
    width: 36px;
    height: 36px;
    margin-top: 11px;
    display: inline-block;
    line-height: 0;
  }
}

._EmailRating__itemLabel {
  width: 56px;
  margin-top: 8px;
  display: block;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
}

._EmailRating__item--1 {
  ._EmailRating__itemImage {
    img {
      width: 34px;
      height: 33px;
      margin-top: 10px;
    }
  }
}

._EmailRating__item--star {
  margin-right: 4px;
  margin-left: 4px;

  ._EmailRating__itemImage {
    width: 60px;
    background-color: transparent;
    background: none;

    img {
      width: 40px;
      height: 40px;
    }
  }

  ._EmailRating__itemLabel {
    width: 60px;
  }
}

._EmailRating--mt40 {
  margin-top: 40px;
}

._EmailRating--mb40 {
  margin-bottom: 40px;
}