._EmailH2 {
  margin-bottom: 14px;
  color: var(--color-base);
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  font-family: var(--font-family-base);
}

._EmailH2--normal {
  margin-bottom: 12px;
  line-height: 30px;
}